{
"githubtoken":"YOUR_GITHUB_PAT_HERE",
"institutionname": "JHU",
"institutionnamepermutations": ["JHU", "Johns Hopkins University", "Johns Hopkins", "Hopkins"],
"institutioncity": "Baltimore",
"institutionemaildomain": ["jhu.edu", "jh.edu"],
"githubaccountdetailscsvpath": "PATH-github-account-list-JHU-DATE-full",
"githubrepodetailscsvpath": "PATH-github-repo-list-JHU-DATE-24MOS.csv",
"resultsperpage": 50,
"pagelimit": 20,
"minimumfollowers": 0,
"minimumrepos": 1,
"detaillevel": "fulldetail",
"githubrepolastupdatethresholdinmonths": 24,
"githubaccountdatacsvpathforvisualization": "PATH-github-account-list-JHU-DATE",
"githubrepodatacsvpathforvisualization": "PATH-github-repo-list-JHU-DATE.csv"
}
